common --enable_bzlmod
build --remote_cache=https://storage.googleapis.com/bazel-cache-mocoarow-25-08 --google_default_credentials
test --remote_cache=https://storage.googleapis.com/bazel-cache-mocoarow-25-08 --google_default_credentials
run --remote_cache=https://storage.googleapis.com/bazel-cache-mocoarow-25-08 --google_default_credentials
